@{
    ViewBag.Title = "Home Page";
}

<main>
    <section id="home" class="hero">
        <div class="container ">
            <h2>Bienvenido a Man-jar</h2>
            <p>Descubre los mejores productos elaborados con mango fresco.</p>
            <a href="#products" class="btn-custom btn-custom-outline-dark">Ver Productos</a>
            <div class="container d-flex justify-content-center ">
                <img src="~/Assets/FlyerManjar.png" class="Banner01" alt="BannerManjar02">
            </div>
            <p>¡Gira la ruleta este 6 de Junio y descubre tu suerte!.</p>
        </div>
     </section>

    <!-- Sección de productos -->
    <section id="products" class="products">
        <div class="container row">
            <h2>Nuestros Productos</h2>
            <div class="product-list">
                <!-- Ejemplo de producto -->
                
                <div class="product-item">

                    <div class="zoom-effect-container">
                        <img src="~/Assets/racion-de-mermelada-de-mango.png" class="img-fluid bordesRedondos" alt="Mermelada de Mango">
                    </div>
                        <h3>Mermelada de Mango</h3>
                        <p>Nuestra mermelada de mango es un deleite tropical hecho a mano que captura la esencia dorada y dulce del mango maduro. </p>
                        <a href="#" class="btn-custom btn-custom-outline-dark">Comprar Ahora</a>
                    
                </div>
                <div class="product-item">
                    <div class="zoom-effect-container">
                        <img src="~/Assets/batido-de-mango.png" class="img-fluid bordesRedondos" alt="Mermelada de Mango">
                    </div>
                        <h3>Batido de Mango</h3>
                        <p>Sumérgete en una explosión tropical con nuestro delicioso batido de mango.</p>
                        <a href="#" class="btn-custom btn-custom-outline-dark">Comprar Ahora</a>
                    </div>
                <div class="product-item">
                    <div class="zoom-effect-container">
                        <img src="~/Assets/helado_de_mango.png" class="img-fluid bordesRedondos" alt="Mermelada de Mango">
                    </div>
                    <h3>Helado de Mango</h3>
                    <p>Déjate cautivar por nuestra creación helada de mango, una experiencia exótica que combina la cremosidad con la frescura tropical.</p>
                    <a href="#" class="btn-custom btn-custom-outline-dark">Comprar Ahora</a>
                </div>
                    <!-- Agregar más productos aquí -->
                </div>
        </div>
    </section>

</main>